html    
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
        title='Vista de Productos'
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet" href="css/style.css")
    
    
    body 
        header 
            div(class="navbar nav-pills flex-column flex-sm-row bg-dark")
                div(class="container-fluid")
                    a(class="flex-sm-fill text-sm-center nav-link h4" href="/") HOME
                    a(class="flex-sm-fill text-sm-center nav-link h4" href="/Productos") Productos 
            div(class='container mt-3')
            block hello 